.pie-chart {
  //   background-color: red;
  min-height: 300px !important;
  height: 400px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  //   background-color: red;
}
.apexcharts-legend {
  width: 100px !important;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .pie-chart {
    height: 300px !important;
  }
}
