{
    "env": {
        "production": {
            "plugins": [
                "transform-remove-console",
                "transform-react-remove-prop-types"
            ]
        }
    },
    "plugins": [
        [
            "babel-plugin-import",
            {
                "libraryName": "@mui/material",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "core"
        ],
        [
            "babel-plugin-import",
            {
                "libraryName": "@mui/icons-material",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "icons"
        ],
        [
            "babel-plugin-direct-import",
            {
                "modules": [
                    "@mui/material",
                    "@mui/icons-material"
                ]
            }
        ]
    ]
}