{
    "extends": [
        "react-app",
        "prettier"
    ],
    "rules": {
        "no-restricted-imports": [
            "error",
            {
                "patterns": [
                    "@mui/*/*/*",
                    "!@mui/material/test-utils/*"
                ]
            }
        ],
        "@typescript-eslint/no-unused-vars": "off",
        "jsx-a11y/alt-text": "off",
        "react-hooks/exhaustive-deps": "off",
        "eqeqeq": "off"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "ignorePatterns": [
        "src/**/**/**.scss"
    ]
}