.dropzone {
  text-align: center;
  padding: 10px;
  border: 1px dashed #eeeeee;
  background-color: #d6d6d6;
  margin-bottom: 10px;
}
.keyboard {
  transition: 0.3s;
}
.grid-item {
  border-right: 1px solid #cbc9ca;
  border-bottom: 1px solid #cbc9ca;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #729f03;
  font-size: 40px;
  background-color: #ecebeb;
  &:active {
    color: white;
    background-color: #729f03;
  }
  font-weight: bold;
  line-height: 0%;
}

.grid-item-input {
  border-right: 1px solid #cbc9ca;
  border-bottom: 1px solid #cbc9ca;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.nop .css-h1wpvm-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.btn {
  text-transform: unset !important;
  line-height: 1 !important;
}
